<h2>LOGIN</h2>
<div>
    <form [formGroup]="formdata" (ngSubmit)="onClick(formdata.value)">
        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput placeholder="pat@example.com" formControlName="email" required>
                <mat-error *ngIf="formdata.get('email') && formdata.get('email')?.hasError('required')">Email is
                    required</mat-error>
                <mat-error *ngIf="formdata.get('email') && formdata.get('email')?.hasError('email')">Email is
                    invalid</mat-error>
            </mat-form-field>
        </div>
        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>Enter your password</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'" formControlName="pwd" required>
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                  <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
              </mat-form-field>
        </div>
        <div class="btn">
            <button mat-raised-button color="primary" type="submit" [disabled]="formdata.invalid">Login</button>
        </div>
    </form>